<app-menu></app-menu>
<table class="table table-sm">
    <tr>
        <td>First Name:</td>
        <td>
            <!-- <input [(ngModel)]="user.firstName" class="rounded" type="text" disabled> -->
            {{user.firstName}}
        </td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>
            <!-- <input [(ngModel)]="user.lastName" class="rounded" type="text" disabled> -->
            {{user.lastName}}
        </td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>
            <!-- <input [(ngModel)]="user.phoneNumber" class="rounded" type="text" disabled> -->
            {{user.phoneNumber}}
        </td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>
            <!-- <input [(ngModel)]="user.email" class="rounded" type="text" disabled> -->
            {{user.email}}
        </td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>
            <!-- <input [(ngModel)]="user.userName" class="rounded" type="text" disabled> -->
            {{user.userName}}
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <!-- <input [(ngModel)]="user.password" class="rounded" type="text" disabled> -->
            {{user.password}}
        </td>
    </tr>
    <tr>
        <td>Reviewer Status:</td>
        <td>{{user.isReviewer}}</td>
    </tr>
    <tr>
        <td>Admin Status:</td>
        <td>{{user.isAdmin}}</td>
    </tr>
</table>

<button routerLink="/user/edit/{{user.id}}">Edit</button>
<button>Delete</button>

<app-footer></app-footer>
