<app-menu></app-menu>
<table class="table table-sm">
    <tr>
        <td>Photo Link:</td>
        <td>
            <!-- <input [(ngModel)]="product.photoPath" class="rounded" type="text"> -->
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>Part Number:</td>
        <td>
            <!-- <input [(ngModel)]="product.partNumber" class="rounded" type="text"> -->
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>
            <!-- <input [(ngModel)]="product.name" class="rounded" type="text"> -->
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>Vendor:</td>
        <td>
            <!-- <select [(ngModel)]="product.vendor" class="rounded">
                <option *ngFor="let vendor of vendors" [ngValue]="vendor">
                    {{"(" + vendor.code + ") " + vendor.name}}
                </option>
            </select> -->
            <select name="" id=""></select>
        </td>
    </tr>
    <tr>
        <td>Unit:</td>
        <td>
            <!-- <input [(ngModel)]="product.unit" class="rounded" type="text"> -->
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>Price:</td>
        <td>
            <!-- <input [(ngModel)]="product.price" class="rounded" type="number"> -->
            <input type="text">
        </td>
    </tr>
</table>

<button>Update</button>

<app-footer></app-footer>